build
extras
tests
apis
.kdev4
Makefile*
qx11grab.kdev*
Doxyfile
*.log
*.txt.user
core
ctags
.ctags
.bzr
.bzrignore
tags
build-native.sh
build-version-package.pl
c*.sh
ddd.sh
importicon.sh
lupdate.sh
snapshot.sh
testcmd.sh
