build
extras
tests
apis
html
.kdev4
Makefile*
qx11grab.kdev*
*.log
*.txt.user
core
ctags
.ctags
.bzr
.bzrignore
tags
c*.sh
ddd.sh
qemu.sh
importicon.sh
lupdate.sh
snapshot.sh
testcmd.sh
remotesshow.sh
