[Desktop Entry]
Type=Application
Name=qx11grab
GenericName=X11 Window Recorder
Comment=Application for recording x11 windows
Comment[de]=Programm zum Aufnehmen von X11 Fenstern
Exec=qx11grab
Icon=qx11grab
Categories=Qt;KDE;X-KDE-Utilities-Desktop;Utility;Applet;
StartupNotify=false
X-KDE-StartupNotify=true
X-DBUS-ServiceType=Unique
