Source: qx11grab
Section: misc
Priority: extra
Maintainer: Heinemann Juergen <nospam __AT__ hjcms __DOT__ de>
Build-Depends: debhelper (>= 7), libstdc++6-4.3-dev, g++-4.3, libqt4-dev, qt4-dev-tools, pkg-config, libdbus-1-dev
Standards-Version: 3.7.3
Homepage: http://qx11grab.hjcms.de

Package: qx11grab
Architecture: any
Depends: ${shlibs:Depends}, ffmpeg, libqt4-core (>4.4.0), libqt4-dbus (>4.4.0), libqt4-gui (>4.4.0)
Description: is a systray program that uses FFmpeg for recording X11 desktop windows
  this program grab window dimensions with xevent and prepare the command line for ffmpeg with configuration options. it sends the generated parameter list to a new FFmpeg process. qx11grab is not the recording software it prepare all commands for FFmpeg.
