Source: qx11grab
Section: kde
Priority: optional
Maintainer: Juergen Heinemann (Undefined) <noreply@hjcms.de>
Build-Depends:
  cmake,
  libqt4-dev (>= 7.4.2),
  debhelper (>= 7.3.16),
  libx11-dev,
  libasound2-dev,
  libpulse-dev,
  libavformat-dev,
  libavcodec-dev,
  libavutil-dev,
  libavfilter-dev,
  libx264-dev,
  libtheora-dev,
  libvpx-dev,
  libxrandr-dev,
  libfreetype6-dev,
  libfontconfig1-dev,
  ffmpeg
Standards-Version: 3.9.2
Homepage: http://qx11grab.hjcms.de/

Package: qx11grab
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ffmpeg
Description: systray program that uses FFmpeg for recording X11 desktop windows
 This program grabs window dimensions with xevent and prepares a command line
 for ffmpeg with configuration options. It sends the generated parameter list
 to a new FFmpeg process.
 .
 qx11grab doesn't record itself, it just prepare commands for FFmpeg.
