[Desktop Entry]
Name=qx11grab
Comment=Application for recording x11 windows
Comment[de]=Programm zum Aufnehmen von X11 Fenstern
Exec=qx11grab
Icon=x
Type=Application
Categories=Qt;KDE;Utility;X-TrayIcon;X-Applet;
StartupNotify=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DBUS-ServiceType=Unique
