[Desktop Entry]
Name=qx11grab
Comment=Application for recording x11 windows
Comment[de]=Programm zum Aufnehmen von X11 Fenstern
Exec=qx11grab
Icon=x
Type=Application
Categories=X-DesktopUtility;X-KDE-Applet;
StartupNotify=false

